.home-page{
    background-color: lightgoldenrodyellow;
}

.home-header{
    align-items: center;
    background-color: gray;
    border: 2px solid black;
    border-radius: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    gap: 20%;
    min-height: 160px;
    justify-content:space-evenly;
}

.header-img{
    border: 2px solid black;
    border-radius: 5px;
    min-width: 300px;
    margin: 10px 0;
}

.header-content{
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 50px 20;
    justify-content: flex-start;

}

.navbar-container{
    background-color: gray;
    border: 2px solid black;
    border-radius: 5px;
    float: left;
    margin-left: 40px;
    margin-top: 20px;   
    width: 200px;

    
}

.home-navbar {
    list-style-type: none;
    padding: 0;
}

.nav-branch {
    position: relative;
}

.nav-links {
    color: #000;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
}

.items-text {
    display: none;
}

.sub-navbar {
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    display: none;
    left: 184px;
    list-style-type: none;
    padding: 0;
    position: absolute;
    top: 10%;
}

.sub-nav-links {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #000;
}

.nav-branch:hover .sub-navbar {
    display: block;
}

.home-page-content{
    margin-left: 300px;
    margin-top: 50px;
}

.home-product{
    background-color: white;
    border: 1px solid black;
    float: left;
    margin: 100px 100px;
    height: 475px;
    width: 300px;
}

.img-product{
    height: 250px;
    margin: 20px 25px;
    width: 250px;
}

.product-title{
    margin: 0 10%;
}

.description-container{
    border: 1px solid black;
    margin: 18px 10%;
    height: 80px;
    width: 250px;
    
}

.product-description{
    margin: 5px 5px;
}

.product-add-button{
    margin: 0 10%;
}

.product-number{
    display: inline;
    margin: 0 10px;
}

.footer-title{
    border-bottom: 2px solid black;
}

.home-footer{
    background-color: gray;
    border: 2px solid black;
    border-radius: 5px;
    clear: both;
}

.footer-title{
    margin-top: 0px;
    padding: 30px 0;
    text-align: center;
}

.footer-contact{
    display: flex;
    gap: 50px;
    justify-content: center;
}

.contact-text{
    display: inline;
}

.footer-img{
    display: flex;
    flex-wrap: wrap; 
    gap: 50px;
    justify-content: center;
}

.social-img{
    border-radius: 20px;
    margin: 30px 0;
}