.home-page{
    background-color: lightgoldenrodyellow;
}

.home-header{
    align-items: center;
    background-color: gray;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap; 
    gap: 36px;
    min-height: 160px;
    justify-content:space-evenly;
}

.header-img{
    border: 2px solid black;
    border-radius: 5px;
    min-width: 300px;
    margin: 10px 0;
}

.header-title-img{
    margin: 0 100px;
}

.header-content{
    display: flex;
    gap: 50px;
    padding: 50px 20px;
}

.navbar-container{
    background-color: gray;
    border: 2px solid black;
    border-radius: 5px;
    float: left;
    margin-left: 40px;
    margin-top: 20px;   
    width: 200px;
}

.home-navbar {
    list-style-type: none;
    padding: 0;
}

.nav-branch {
    position: relative;
}

.nav-branch:hover .sub-navbar {
    display: block;
}


.nav-links {
    color: #000;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
}

.sub-navbar {
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    display: none;
    left: 184px;
    list-style-type: none;
    padding: 0;
    position: absolute;
    top: 0px;
}

.sub-nav-container{
    padding: 10px 10px;
    width: 150px;
}

.sub-nav-links{
    padding: 10px 15px;
    text-decoration: none;
    color: #000;
}

.home-page-content{
    display: flex;
    flex-wrap: wrap;
    margin-left: 300px;
    margin-top: 16px;
}

.catalog-title{
    margin: 0 auto;
    width: 200px;
}

.home-product{
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin: 100px 100px;
    height: 475px;
    max-width: 300px;
}

.img-product{
    height: 250px;
    margin: 16px 24px;
    width: 250px;
}

.product-title{
    margin: 0 auto;
    width: 240px;
}

.description-container{
    border: 1px solid black;
    margin: 18px auto;
    height: 80px;
    width: 240px;
    
}

.product-description{
    margin: 4px 4px;
}

.product-stat{
    display: flex;
}

.product-add-button{
    margin: 0 30px;
}

.product-number{
    margin: 0 10px;
}

.home-footer{
    background-color: gray;
    border: 2px solid black;
    border-radius: 5px;
    clear: both;
}

.footer-title{
    border-bottom: 2px solid black;
    margin-top: 0px;
    padding: 30px 0;
    text-align: center;
}

.footer-contact{
    display: flex;
    gap: 50px;
    justify-content: center;
}

.footer-img{
    display: flex;
    flex-wrap: wrap; 
    gap: 50px;
    justify-content: center;
}

.social-imges{
    border-radius: 20px;
    margin: 30px 0;
}