.login-container{
    background-color: gray;
    background-image: url("../images/background/background-soft4.jpeg");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.login-form{
    margin: 0 auto;
    padding-top: 40px;
    text-align: center;
    width: 30%;
}

.login-subtitle{
    color: white;
    text-align: center;
}

.sing-in-content{
    background-color: darkslategray;
    border: 2px solid black;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 30px 0;
    width: 60%;
}

.img-sing-in{
    border-radius: 20px;
    float: left;
    margin-top: 50px;
    margin-left: 40px;
}

.title-sing-in{
    color: black;
}

.label-login{
    color: white;
    text-align: center;
}

.user-password{
    margin: 20px auto; 
}

.user-name{
    margin: 20px auto; 
}

.login-content{
    margin: 0 auto;
    text-align: center;
    width: 900px;
}



.login-page-button, .sing-in-button{
    background-color: brown;
    border-radius: 20px;
    color: white;
    font-size: 25px;
    padding: 20px 28px;

    &:hover{
        background-color: azure;
        color: black;
    }
}